*.opensdf
*.sdf
*.suo

Framework Projects/**/Debug/
Framework Projects/**/Debug DX9/
Framework Projects/**/Debug DX11/
Framework Projects/**/Debug GL/
Framework Projects/**/Release/
Framework Projects/**/Release DX9/
Framework Projects/**/Release DX11/
Framework Projects/**/Release GL/

FrameworkLib/Debug/
FrameworkLib/Debug DX9/
FrameworkLib/Debug DX11/
FrameworkLib/Debug GL/
FrameworkLib/Release/
FrameworkLib/Release DX9/
FrameworkLib/Release DX11/
FrameworkLib/Release GL/

Ingenuity/Debug/
Ingenuity/Debug DX9/
Ingenuity/Debug DX11/
Ingenuity/Debug GL/
Ingenuity/Release/
Ingenuity/Release DX9/
Ingenuity/Release DX11/
Ingenuity/Release GL/

Ingenuity/Deploy/*
!Ingenuity/Deploy/Common
!Ingenuity/Deploy/Projects
!Ingenuity/Deploy/config.xml
Ingenuity/Deploy/Projects/**/Workshop Room

Ingenuity Win8/Debug/
Ingenuity Win8/Release/

Third Party/assimp-cmake/**/Debug/
Third Party/assimp-cmake/**/*.log
Third Party/DirectXTK 2014-04/Bin/
Third Party/DirectXTK 2014-04/Audio/Bin/
Third Party/glm-0.9.4.1/Debug/
Third Party/glm-0.9.4.1/Release/
Third Party/newton-dynamics-master/applications/
Third Party/newton-dynamics-master/coreLibrary_300/projects/windows/*/Win32/
Third Party/newton-dynamics-master/coreLibrary_300/source/pthreads.2/*/Win32/
Third Party/newton-dynamics-master/packages/dCompilerKit/
Third Party/newton-dynamics-master/packages/thirdParty/
Third party/Simple-OpenGL-Image-Library-master/projects/**/Debug MT/

# Not open source, not allowed to distribute
Third Party/LeapSDK/
